@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General */
body {
    font-family: 'Poppins' , sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    background-image: url('images/bag3.jpg'); 
    background-size: cover;       /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

h1 {
    text-align: center;
    color: #d48b02;
    padding-top: 80px;
    font-size: 25px;
}
form {
    
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(187, 185, 185, 0.9); 
    display: grid;
    place-items: center;

}
label {
    display: block;
    font-size: small;
    margin: 10px 0 0px;
    color: #333;
}

input, select, textarea {
    
    width: 60%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: small;
}

button {
    background-color: #d48b02;
    color: white;
    border: none;
    padding: 5px 5px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0ce06;
}
.mensaje {
    background-color: #d4edda;
    color: #155724;
    padding: 1px;
    border: 1px solid #c3e6cb;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}